<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.soft863.group5.bbs.dao.ArticleMapper">
    <resultMap id="articleMap" type="article">
        <id property="id" column="article_id" javaType="java.lang.Long"/>
        <result property="group" column="article_group"/>
        <result property="title" column="article_title"/>
        <result property="content" column="article_content"/>
        <result property="date" column="article_date" javaType="java.util.Date"/>
        <result property="top" column="article_top"/>
        <result property="pass" column="article_pass"/>
        <association property="user" column="article_userid"
                     select="com.soft863.group5.bbs.dao.UserMapper.queryById" fetchType="eager"/>
        <collection property="firstComments"
                    select="com.soft863.group5.bbs.dao.ArticleCommentMapper.queryFirstCommentByArticle"
                    column="article_id"/>
    </resultMap>


    <select id="queryAll" resultMap="articleMap">
        SELECT *
        FROM article
    </select>

    <select id="queryByUser" resultMap="articleMap" parameterType="java.lang.Long">
        SELECT *
        FROM article
        WHERE article_userid = #{id}
    </select>
    <select id="queryAllByPage" parameterType="map" resultMap="articleMap">
        SELECT *
        FROM article
        WHERE article_pass = #{pass}
        ORDER BY article_top DESC,article_date DESC
        LIMIT #{position} ,25
    </select>


    <select id="getCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT COUNT(article_id)
        from article
        WHERE article_pass = #{pass};
    </select>

    <select id="get" parameterType="java.lang.Long" resultMap="articleMap">
        SELECT *
        FROM article
        WHERE article_id = #{id}
    </select>

    <update id="update" parameterType="article">
        UPDATE article
        SET article_group   = #{group},
            article_title   = #{title},
            article_content = #{content},
            article_date    = #{date},
            article_top     = #{top},
            article_pass    = #{pass},
            article_userid  = #{user.id}
        WHERE article_id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE
        FROM article
        WHERE article_id = #{id}
    </delete>

    <select id="queryTotalNum" resultType="java.lang.Integer">
        SELECT count(article_pass)
        FROM article
    </select>

    <insert id="save" parameterType="article">
        INSERT INTO article(article_userid, article_group, article_title, article_content, article_date)
        VALUES (#{user.id}, #{group}, #{title}, #{content}, #{date})
        <selectKey order="AFTER" keyProperty="id" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <cache eviction="LRU" flushInterval="60000" readOnly="false" type="com.soft863.group5.bbs.utils.RedisCache"/>
</mapper>