<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft863.group5.bbs.dao.CommentManagerMapper">


<select id="queryAllComment" parameterType="map" resultMap="com.soft863.group5.bbs.dao.ArticleMapper.articleMap">
    SELECT *
    FROM article
    WHERE article_pass=#{pass}
    LIMIT #{start},#{size}
</select>


<update id="updateComment" parameterType="article">
    UPDATE article
    SET article_pass= #{pass}
    WHERE article_id = #{id}
</update>

    <cache eviction="LRU" readOnly="false" type="com.soft863.group5.bbs.utils.RedisCache"/>

</mapper>